.loaderWrapper {
  height: 100vh;
  width: 100vw;
  background-color: white;
  color: #7a0c1b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 150px;
  height: 150px;
  border: 10px solid #7a0c1b;
  border-top: 6px solid white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loadingText {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #7a0c1b;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}